# ignore all directories, and all sub-directories, and it's contents:
*/*
*.root
*.csv
*~
!CMSSW_9_3_2/src/Analyzer_Folder/MyTrackAssociator/interface
!CMSSW_9_3_2/src/Analyzer_Folder/MyTrackAssociator/plugins

